$color-white: #fff;
$color-error: #f00;
$color-gray: #c7c7c7;

$color-blue-dark: #2b2d42ff;

$color-primary-gradient: #ff9f32;
$color-secondary-gradient: #ff4099;

$color-link: #3fbbf5;
$color-button-primary: #159fdf;
$color-button-secondary: #23cc48;
